/* Botão Voltar */
p a {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

p a:hover {
  background-color: #2980b9;
}
a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}
a:hover {
  color: #2980b9;
}